
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html">
    <title>Ứng dụng trao đổi và mua bán máy tính xách tay đã qua sử dụng</title>
    <link rel="stylesheet" href="~/Content/CSS/styleTrangChu.css" type="text/css" />
</head>
<body>
    <div id="open">
        <div id="left">
            <p>
                Ứng dụng trao đổi và mua bán máy tính xách tay đã qua sử dụng
            </p>
        </div>
        <div id="right">
            <nav>
                <ul id="menu">
                   <li>@Html.ActionLink("Đăng nhập","AfterLogin","Login")</li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="main">
        <div id="sp1">
        </div>
        <div id="sp2"></div>
        <div id="sp3"></div>
    </div>

</body>
</html>
